<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS System Portal</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>POS Portal</h1>
    <div class="container">
        <button class="portal-button" onclick="location.href='/customer'">Customer Kiosk</button>
        <button class="portal-button" onclick="location.href='/cashier'">Cashier Interface</button>
        <button class="portal-button" onclick="location.href='/manager'">Manager Dashboard</button>

    </div>
</body>
</html>